
@model MovieFilterViewModel


<div class="col-md-10 offset-2">
<form method="get" asp-action="Index">
    <div class="row">
        <div class="col-md-4">
            <label for="cinemaDropdown" class="fw-bold">Select Cinema:</label>
            <select id="cinemaDropdown" name="cinemaId" class="form-control">
                <option value="">-- Select Cinema --</option>
                @foreach (var cinema in Model.Cinemas)
                {
                                <option value="@cinema.Value">@cinema.Text</option>
                }
            </select>
        </div>

        <div class="col-md-4">
            <label for="movieDropdown" class="fw-bold">Select Movie:</label>
            <select id="movieDropdown" name="movieId" class="form-control">
                <option value="">-- Select Movie --</option>
            </select>
        </div>

        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-check"></i></button>
        </div>
    </div>
</form>
</div>