@model MovieViewModel

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="content-wrapper">
	<div class="col-md-8 offset-2">

		<form asp-action="Create" asp-controller="Movie" method="Post">
			@Html.AntiForgeryToken()


			
			@Html.Partial("_MovieCreateEdit", Model)
			
			<div class="form-class mt-2">
				
					<button type="submit" class="btn btn-outline-success float-end"><i class="fa-solid fa-plus"></i> Create</button>
					<a asp-action="Index" class="btn btn-outline-info"><i class="fa-solid fa-circle-arrow-left"></i> Back to list</a>
					</div>

		</form>


		
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
				<script>
						 $(document).ready(function () {
								var output = document.getElementById('imagepreview');
							output.src = $("#ImageURL").val();
						})

						$("#ImageURL").on("change", function () {
								var output = document.getElementById('imagepreview');
							output.src = $(this).val();
						})

				</script>			
}